//grid-container - top half

.grid-container {
	display: grid;
	grid-gap: 30px;
	grid-template-areas:
		"grid1 grid1 grid4"
		"grid2 grid3 grid4";

	//media MOBILE grid-template-areas:
	// "grid1"
	// "grid2"
	// "grid3"
	// "grid4";

	margin-bottom: 70px;
}

.grid1 {
	grid-area: grid1;
}
.grid2 {
	grid-area: grid2;
}
.grid3 {
	grid-area: grid3;
}
.grid4 {
	grid-area: grid4;
}
