header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 55px;
	margin-top: 90px;
}

.logo {
	width: 64px;
}

.main-nav {
	ul {
		display: flex;
		gap: 40px;
	}
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
		color: $gunmetal-grey;
	}
}
