.header-container {
	max-width: 1224px;
	margin: 0 auto;
	margin-bottom: 55px;
	margin-top: 20px;

	@include breakpoint-mobile {
		margin-bottom: 32px;
		margin-top: 28px;
	}
}

.navbar {
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-branding {
	font-size: 2rem;
}

.logo {
	width: 64px;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;

	li {
		list-style: none;
	}
	a {
		text-decoration: none;
		color: $gunmetal-grey;
	}
}

.nav-link {
	transition: 0.3s ease-out;
}

.nav-link:hover {
	color: $light-vermillion-red;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 40px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: $dark-space-blue;
}

//HAMBURGER MENU

@include breakpoint-mobile {
	.hamburger {
		display: block;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-menu {
		position: fixed;
		height: 100vh;
		right: -90%;
		top: 0px;
		gap: 4px;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 170px;
		align-items: start;
		background-color: $off-white;
		width: 69%;
		text-align: center;
		transition: 0.3s;
		margin-bottom: 50px;
		color: $dark-space-blue;
		font-size: 18px;
		font-weight: 400;
	}

	.nav-item {
		padding-bottom: 30px;
	}

	.nav-menu.active {
		right: 0;
	}
}
