body {
	height: 100vh;
	background-color: $off-white;
}

.container {
	width: 1110px;
	margin: 0 auto;

	@include breakpoint-mobile {
		width: 410px;
	}
}

.hero-image {
	img {
		width: 100%;

		@include breakpoint-mobile {
			content: url("/assets/images/image-web-3-mobile.jpg");
			/* Adjust any necessary styling for the smaller image */
			/* For example:
					width: 100%;
					height: auto;
					*/
		}
	}
}

.main-heading {
	h1 {
		color: $dark-space-blue;

		font-size: 56px;
		font-style: normal;
		font-weight: 800;
		line-height: 56px; /* 100% */
		padding-right: 20px;

		@include breakpoint-mobile {
			font-size: 40px;

			line-height: 40px;
		}
	}
}

.cta-section {
	p {
		color: $gunmetal-grey;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		margin-bottom: 30px;
	}
}

.aside {
	width: 350px;
	display: flex;
	flex-direction: column;
	background-color: $dark-space-blue;
	color: $off-white;
	padding: 30px 30px;

	h2 {
		color: $yellow;
		/* Heading (L) */
		font-size: 40px;
		font-weight: 700;
		margin-bottom: 34px;
	}

	h3 {
		color: $off-white;

		/* Heading (S) */
		font-size: 20px;
		font-weight: 800;
		line-height: 24px; /* 120% */
		padding-bottom: 8px;
	}

	p {
		color: $off-white;
		font-size: 15px;
		font-weight: 400;
		line-height: 26px; /* 173.333% */
	}

	hr {
		margin: 30px auto;
		width: 302px;
		height: 1px;
		flex-shrink: 0;
		color: $hr-grey;
		text-align: center;
	}
}

// Bottom part post

.post-container {
	display: flex;
	gap: 30px;
	margin-bottom: 130px;

	@include breakpoint-mobile {
		flex-direction: column;
	}
}

.post {
	display: flex;
	flex: 1;

	&__text {
		a {
			color: $dark-space-blue;
			text-decoration: none;
			font-style: inherit;

			&:hover {
				color: $light-vermillion-red;
				transition: 0.2s;
			}
		}
		h3 {
			color: $silver;
			/* Heading (M) */
			font-size: 32px;
			font-weight: 700;
			line-height: 32px; /* 100% */
			margin-bottom: 8px;
		}

		h4 {
			/* Heading (XS) */
			font-size: 18px;
			font-style: normal;
			font-weight: 800;
			margin-bottom: 8px;
		}

		p {
			color: $gunmetal-grey;
			/* Body */
			font-size: 15px;
			font-weight: 400;
			line-height: 26px; /* 173.333% */
		}
	}
}

.post img {
	margin-top: 0.4rem;
	width: 100px;
	height: 120px;
	padding-right: 15px;
}
