body {
	height: 100vh;
}

.container {
	width: 1110px;
	margin: 0 auto;
}

.hero-image {
	img {
		width: 100%;
	}
}

.main-heading {
	h1 {
		color: $dark-space-blue;

		font-size: 56px;
		font-style: normal;
		font-weight: 800;
		line-height: 56px; /* 100% */
		padding-right: 20px;
	}
}
