// COLOURS

// Primary
$yellow: hsl(35, 77%, 62%);
$light-vermillion-red: hsl(5, 85%, 63%);

// Neutral
$off-white: hsl(36, 100%, 99%);
$silver: hsl(233, 8%, 79%);
$gunmetal-grey: hsl(236, 13%, 42%);
$dark-space-blue: hsl(240, 100%, 5%);
$hr-grey: hsla(236, 13%, 42%, 1);
