button {
	background-color: $light-vermillion-red;
	color: $off-white;
	border-style: none;
	width: 185px;
	height: 48px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 4.375px;
	font-weight: 700;
	cursor: pointer;
	transition: 0.4s;

	&:hover {
		background-color: $dark-space-blue;
	}
}
